/* Write your CSS here! */
body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
  }

  header {
    text-align: center;
    background-color: silver;
    padding: 10px;
    border-radius: 10px;
  }

  h2 {
    color: darkblue;
  }

  section {
    border: 2px dotted red;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  .funParagraph {
    color: blueviolet;
  }

  #main {
    color: red
  }
