/* Write your CSS here! */
body {
    background-color: lightblue;
    font-family: Arial, sans-serif; /* You can choose a different font here */
  }

  header {
    text-align: center;
  }

  h2 {
    color: orange;
  }